@media screen and (max-width: 768px) and (min-width: 376px){
    body{
        background-color: #F7F7F7;
    }

    fieldset.grupo .campo{
        margin-top: 10px;
        margin-left: 30%;
        margin-right: 1em;
    }

    .campo input{
        width: 25em;
    }
    
    .campo textarea{
        width: 25em;
    }

.botao{
    margin-left: 52.27%;
    width: 17.8em;
    
}
}

@media screen and (max-width: 375px){
    body{
        background-color: #F7F7F7;
    }

    fieldset.grupo .campo{
        margin-top: 10px;
        margin-left: 2%;
        margin-right: 1em;
    }

    .campo input{
        width: 25em;
    }
    
    .campo textarea{
        width: 25em;
    }

.botao{
    margin-left: 47.9%;
    width: 17.8em;
    
}
}