*{
    
    padding: 0px;
    margin: 0px;
}


.topo ul{
    list-style-type: none;
    
}

.topo ul{
    position: relative;
    background-color: black;
    height: 60px;
    
    
    
}

.topo li{
    display: inline;
    
    
    
}

.topo li a{
    color: white;
    text-decoration: none;
    
    
}

.db {
    font-size: 30pt;
    margin-left: 30px;
    font-family: 'Fjalla One', sans-serif;
}

.db a:hover{
    color: rgb(190, 190, 190);
}
              

.gl{
    font-size: 20px;
    font-family: 'Fjalla One', sans-serif;
}

h1{
    margin: 20px;
    margin-left: 615px;
    font-family: 'Fjalla One', sans-serif;
}

p{
    margin-left: 360px;
    font-family: 'Arvo', serif;
}