*{
    
    padding: 0px;
    margin: 0px;
}

.topo ul{
    list-style-type: none;
}

.topo ul{
    position: relative;
    background-color: black;
    
}

.topo li{
    display: inline;
    
    
}

.topo li a{
    color: white;
    text-decoration: none;
    
}

.db {
    font-size: 30pt;
    margin-left: 30px;
}

.gl{
    font-size: 20px;
}


h1{
    margin: 300px;
    margin-left: 615px;
}
